.detach-button image {
width: 16px;
height: 16px;
list-style-image: url(chrome://app/content/icon-detach.png);
}

.detach-button label {
display: none;
}

.close-button image {
width: 16px;
height: 16px;
list-style-image: url(chrome://app/content/icon-close.png);
}

.close-button label {
display: none;
}

#main-help-about-app image {
width: 16px;
height: 16px;
list-style-image: url(chrome://app/content/icon-main.png);
}
