tabmanager { -moz-binding: url(tags.xml#tabmanager); }
integratedbrowser { -moz-binding: url(tags.xml#integratedbrowser); }
integratedtabbrowser { -moz-binding: url(tags.xml#integratedtabbrowser); }
browsernavigationbox { -moz-binding: url(tags.xml#browsernavigationbox); }

/* ---------------------------------------- */

#tabmanager-tabs tab {
-moz-binding: url(tags.xml#_tab-extension);
}
