#tabmanager-tabs tab {
-moz-binding: url(chrome://weaponry/content/common.xml#_tab-extension);
}

/* -------------------------------------------------------------------------------- */

tabmanager { -moz-binding: url(chrome://weaponry/content/common.xml#tabmanager); }
browsernavigationbox { -moz-binding: url(chrome://weaponry/content/common.xml#browsernavigationbox); }
integratedbrowser { -moz-binding: url(chrome://weaponry/content/common.xml#integratedbrowser); }
integratedtabbrowser { -moz-binding: url(chrome://weaponry/content/common.xml#integratedtabbrowser); }
