@import url(chrome://global/skin/);
@import url(chrome://weaponry/skin/common.css);

/* -------------------------------------------------------------------------------- */

.detach-button image {
width: 16px;
height: 16px;
list-style-image: url(chrome://weaponry/skin/icon-detach.png);
}

.detach-button label {
display: none;
}

/* -------------------------------------------------------------------------------- */

.close-button image {
width: 16px;
height: 16px;
list-style-image: url(chrome://weaponry/skin/icon-close.png);
}

.close-button label {
display: none;
}

/* -------------------------------------------------------------------------------- */

#main-tools-open-error-console image {
width: 16px;
height: 16px;
list-style-image: url(chrome://weaponry/skin/icon-console.png);
}

#main-help-about-app image {
width: 16px;
height: 16px;
list-style-image: url(chrome://weaponry/skin/icon-logo.png);
}
