html, body {
margin: 0;
padding: 0;
background: #232E45;
}

.term {
color: #94AAD6;
font-size: 12px;
background: none;
letter-spacing: 1px;
font-family: "Courier New",courier,fixed,monospace;
}

.term .termReverse {
color: #232E45;
background: #95A9D5;
}
