@import url(chrome://global/skin/);
@import url(chrome://bono/skin/tags.css);

/* ---------------------------------------- */

#bottombar-central-image {
width: 200px;
height: 300px;
margin-top: 10px;
margin-bottom: 10px;
list-style-image: url(chrome://bono/skin/icon-bottombar.png);
}
