#integratedbrowser-browser {
background: white;
}

#integratedtabbrowser-tabmanager tabpanels {
margin: 0;
padding: 0;
}

/* ---------------------------------------- */

#tabmanager-tabs tab #_tab-extension-toolbarbutton {
margin-left: 2px;
}

#tabmanager-tabs tab #_tab-extension-toolbarbutton image {
width: 16px;
height: 16px;
list-style-image: url(chrome://bono/skin/icon-close.png);
}

/* ---------------------------------------- */

#browsernavigationbox-go-button image { list-style-image: url(chrome://bono/skin/icon-go.png); width:16px; height:16px; }
#browsernavigationbox-go-button[disabled="true"] { }

#browsernavigationbox-back-button image { list-style-image: url(chrome://bono/skin/icon-back.png); width:16px; height:16px; }
#browsernavigationbox-back-button[disabled="true"] { }

#browsernavigationbox-stop-button image { list-style-image: url(chrome://bono/skin/icon-stop.png); width:16px; height:16px; }
#browsernavigationbox-stop-button[disabled="true"] { }

#browsernavigationbox-reload-button image { list-style-image: url(chrome://bono/skin/icon-reload.png); width:16px; height:16px; }
#browsernavigationbox-reload-button[disabled="true"] { }

#browsernavigationbox-forward-button image { list-style-image: url(chrome://bono/skin/icon-forward.png); width:16px; height:16px; }
#browsernavigationbox-forward-button[disabled="true"] { }
